<a href="https://colab.research.google.com/github/JesseObed-jesse/Python-Zero-To-Hero-aug/blob/main/Python_Zero_to_Hero_Day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Coders')

Hello Coders

In [ ]:
a = 20
#Dynamially typed language

print(a)
print('a')

20
a

In [ ]:
#Dynamially typed language

x = 30
print(type(x))

x = 10.50
print(type(x))

x = 'hello'
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
x = '$'
y = "$"
z = '''hello'''
a = """"hello"""

print(type(x))
print(type(y))
print(type(z))


'''
hello, this is 
multiline comment
'''

# This is single line comment

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Aman's goggle is cool.

print("Aman's goggle is cool")

Aman's goggle is cool

In [ ]:
a = 10
b = 20
print(id(a))
print(id(b))

93872492813088
93872492813408

In [ ]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

In [ ]:
a = b = c = 10
print(a, end = ' ')
print(b,end = ' ')
print(c)

print(a, b, c)

10 10 10
10 10 10

In [ ]:
a, b, c = 10, 20, 30

print(a, b, c)

10 20 30

In [ ]:
# Input
# Addimg two values

a = input('Enter first value: ')      # it takes string input
b = input('Enter the second value: ') # it takes string input

print(a + b)
print('15' + '25')

Enter first value: 15
Enter the second value: 25
1525

In [ ]:
a = int(input('Enter first value: '))      # it takes string input
b = int(input('Enter the second value: ')) # it takes string input


print('Sum:', a + b)

Enter first value: 15
Enter the second value: 25
Sum: 40

In [ ]:
a = int(input('Enter first value: '))      # it takes string input
b = int(input('Enter the second value: ')) # it takes string input

res = a + b

print(f'Sum: {res}')

Enter first value: 15
Enter the second value: 25
Sum: 40

In [ ]:
a = b = c = 10
print(id(a), id(b), id(c))

b = 20
print(id(a), id(b), id(c))
print(a, b, c)

# 'int' is immutable

93872492813088 93872492813088 93872492813088
93872492813088 93872492813408 93872492813088
10 20 10

In [ ]:
# List

li = [10, 20, 30, 40, 50]
print(type(li))

<class 'list'>

In [ ]:
li = [5, 10.5, 'hello', "coders", 12+5j]
print(li)

[5, 10.5, 'hello', 'coders', (12+5j)]

In [ ]:
print(li[0])
print(li[1])

5
10.5

In [ ]:
li = [5, 8, 2, 3, 4, 1]
print(li)

print(5 in li)
print(10 in li)

[5, 8, 2, 3, 4, 1]
True
False

In [ ]:
li = [1, 2, 3]
print(li * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]

print(li1 + li2)

[1, 2, 3, 4, 5, 6]

In [ ]:
li = [5, 8, 2, 3, 4, 1]
for i in li:
  print(i)

5
8
2
3
4
1

In [ ]:
# List is mutable

li = [1, 2, 3, 4, 5]
print(li)

li[0] = 10
print(li)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
s = 'welcome'
print(s[0])
s[0] = 'p'  # string is immutable
print(s)

w

TypeError: ignored

In [ ]:
# Assignment - Take two inputs and store in variable x and y, find x to the power y.

In [ ]:
li = [3, 1, 7, 5, 2]
li.sort()
print(li)

[1, 2, 3, 5, 7]

In [ ]:
li = [3, 1, 7, 5, 2]
print(sorted(li))
print(li)

[1, 2, 3, 5, 7]
[3, 1, 7, 5, 2]

In [ ]:
li = [3, 1, 7, 5, 2]
li.sort(reverse = True)
print(li)

[7, 5, 3, 2, 1]

In [ ]:
li = [3, 1, 7, 5, 2]
print(sorted(li, reverse = True))
print(li)

[7, 5, 3, 2, 1]
[3, 1, 7, 5, 2]

In [ ]:
li = [3, 1, 7, 5, 2]
li.reverse()
print(li)

[2, 5, 7, 1, 3]

In [ ]:
li = [3, 1, 7, 5, 2]
print(li.index(7))

2

In [ ]:
li = [3, 1, 7, 5, 2, 1, 5, 1, 7]
print(li.index(5))

3

In [ ]:
li = [3, 1, 7, 5, 2, 1, 5, 1, 7]
print(li.count(1))

3

In [ ]:
st = 'welcome'
li = list(st)
print(li)
li.reverse()
print(li)
st = str(li)
print(st)

['w', 'e', 'l', 'c', 'o', 'm', 'e']
['e', 'm', 'o', 'c', 'l', 'e', 'w']
['e', 'm', 'o', 'c', 'l', 'e', 'w']

In [ ]:
print(li)
st = ''.join(li)
print(st)

['e', 'm', 'o', 'c', 'l', 'e', 'w']
emoclew

In [ ]:
l = ['h', 'e', 'l', 'l', 'o']
s = '@$'.join(l)
print(s)

h@$e@$l@$l@$o

In [ ]:
st = "welcome"
print(st[3])

print(st[1 : 4]) #slicing - start index, end index - 1 
print(st[0 : 4])
print(st[ : 4])
print(st[1 : ])
print(st[ : ])
print(st)

c
elc
welc
welc
elcome
welcome
welcome

In [ ]:
print(st)
print(st[-2])

print(st[0 : 6])
print(st[0 : 6 : 2]) #start, end, step
print(st[ : : 2])

print(st[ : : -1])
print(st)

welcome
m
welcom
wlo
wloe
emoclew
welcome

In [ ]:
li = [1, 2, 3, 4]
print(li)

li.append(5)
print(li)

li.pop()
print(li)

li.pop(2)
print(li)

li.remove(4)
print(li)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 4]
[1, 2]

In [ ]:
del li
print(li)

NameError: ignored

In [ ]:
st = 'Welcome$to$Python$program'

print(st.split('$'))
print(st)

['Welcome', 'to', 'Python', 'program']
Welcome$to$Python$program

In [ ]:
x = input('Enter the values: ').split()
li = []
for i in x:
  li.append(int(i))

print(li)

Enter the values: 10 20 30 40 50
[10, 20, 30, 40, 50]

In [ ]:
x = [int(i) for i in input('Enter the values: ').split()]
print(x)

Enter the values: 10 20 30 40 50
[10, 20, 30, 40, 50]

In [ ]:
tup = (10, 20, 30, 40)
print(tup)
print(type(tup))

(10, 20, 30, 40)
<class 'tuple'>

In [ ]:
tup = 10, 20, 30, 40, 50
print(type(tup))

<class 'tuple'>

In [ ]:
print(tup[2])

30

In [ ]:
tup[0] = 100
print(tup)

TypeError: ignored

In [ ]:
tup = (2, 5, 1, 3, 5, 4,2)
print(tup.count(2))
print(tup.index(3))

2
3

In [ ]:
print(len(tup))

7

In [ ]:
s = {10, 20, 30, 40, 50, 10, 30}
print(s)
print(type(s))

{40, 10, 50, 20, 30}
<class 'set'>

In [ ]:
tup = (25,)
print(type(tup))

<class 'tuple'>

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

print(s1 | s2)
print(s1 & s2)
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}

In [ ]:
s1 = {1, 2, 3}
s2 = {1, 2, 3, 5, 6}

print(s1 < s2)
print(s2 > s1)
print(s2 < s1)

True
True
False

In [ ]:
# Take a string input and check whether it is a Pangram
# A quick brown fox jumps over the lazy dog

import string
s = set(input('Enter the string: '))
alpha = set(string.ascii_lowercase)
print(s)
print(alpha)

if alpha < s:
  print('Pangram')
else:
  print('Not Pangram')

Enter the string: A quick brown fox jumps over the lazy dog
{'A', 'm', 'p', 'z', 'e', 'x', 't', 'a', 'l', 'd', 'b', 'j', 's', 'n', 'v', 'o', 'h', 'u', 'g', 'f', 'i', ' ', 'w', 'y', 'k', 'q', 'c', 'r'}
{'m', 'p', 'z', 'e', 'x', 't', 'a', 'l', 'd', 'b', 'j', 's', 'n', 'v', 'h', 'o', 'u', 'g', 'f', 'i', 'w', 'y', 'k', 'q', 'c', 'r'}
Pangram

In [ ]:
 # Day 2 





test_str = input("Enter a string")

all_freq = {}

for i in test_str:
	if i in all_freq:
		all_freq[i] += 1
	else:
		all_freq[i] = 1

print (f"Count of all characters in {test_str} is :\n "
										+ str(all_freq))